//COLORS
$color-primary: #f1f3f6;
$color-primary-header: #2874f0;
$color-logo: #ffe500;
$color-white: #fff;
$color-primary-black: #2e2e2e;
$color-dark-green: #388e3c;

//FONT
$default-font-size: 1.6rem;
$default-font-family: Roboto, Arial, sans-serif;

// $color-grey-dark: #777;
// $color-white: #fff;
// $color-black: #000;
// $color-grey-light-1: #f7f7f7;

// //FONT
// $default-font-size: 1.6rem;

// //GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;
