.innerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Arial, sans-serif;
  background-color: $color-white;
  &__cardBody {
    flex: 0 1 34rem;
    //border: 1px solid $color-primary-black;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem;

    img {
      // height: 350px;
      max-width: 100%;
      max-height: 100%;
    }

    img:hover + &__details {
      transform: translate3d(0px, -31px, 0px);
    }

    p {
      color: $color-primary-black;
      font-size: $default-font-size;
      font-weight: 500;
      margin-left: 1rem;
    }

    p:hover {
      color: $color-primary-header;
    }

    &__details {
      transform: translate3d(0, 0, 0);
      background-color: $color-white;
      transition: all 0.5s;

      &:hover {
        transform: translate3d(0px, -31px, 0px);
      }

      &__ratings {
        background-color: $color-dark-green;
        color: $color-white;
        width: 5rem;
        padding: 2px 4px 2px 6px;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        border-radius: 3px;
        margin-left: 1rem;
      }
    }
  }
}
